<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>

<body>
    <h1>-Article Details-</h1>
    <p><h4>{{article.title}}</h4></p>
    <p>{{article.pub_date}}</p>
    <p>{{article.body}}</p>

    <hr>
    <a class="btn btn-default" href="{% url 'add_comment_to_article' pk=article.pk %}">Add comment</a>
    {% for comment in article.comments.all %}
    <div class="comment">
    <p>{{ comment.author }} </p>
    <p>{{ comment.text|linebreaks }}</p>
    </div>
    {% empty %}
     <p>No comments here yet :(</p>
    {% endfor %}

</body>

</html>