<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <style>
        /* The sidebar menu */
        .sidebar {
            height: 100%;
            /* 100% Full-height */
            width: 0;
            /* 0 width - change this with JavaScript */
            position: fixed;
            /* Stay in place */
            z-index: 1;
            /* Stay on top */
            top: 0;
            left: 0;
            background-color: #111;
            /* Black*/
            overflow-x: hidden;
            /* Disable horizontal scroll */
            padding-top: 60px;
            /* Place content 60px from the top */
            transition: 0.5s;
            /* 0.5 second transition effect to slide in the sidebar */
        }

        /* The sidebar links */
        .sidebar a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
            transition: 0.3s;
        }

        /* When you mouse over the navigation links, change their color */
        .sidebar a:hover {
            color: #f1f1f1;
        }

        /* Position and style the close button (top right corner) */
        .sidebar .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }

        /* The button used to open the sidebar */
        .openbtn {
            font-size: 20px;
            cursor: pointer;
            background-color: #111;
            color: white;
            padding: 10px 15px;
            border: none;
        }

        .openbtn:hover {
            background-color: #444;
        }

        /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
        #main {
            transition: margin-left .5s;
            /* If you want a transition effect */
            padding: 20px;
        }

        /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
        @media screen and (max-height: 450px) {
            .sidebar {
                padding-top: 15px;
            }

            .sidebar a {
                font-size: 18px;
            }
        }

        /* Add an active class to the active dropdown button */
        .active {
            background-color: green;
            color: white;
        }

        /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
        .dropdown-container {
            display: none;
            background-color: #262626;
            padding-left: 8px;
        }

        .dropdown-btn {
            padding: 6px 8px 6px 16px;
            text-decoration: none;
            font-size: 20px;
            color: #818181;
            display: block;
            border: none;
            background: none;
            width: 100%;
            text-align: left;
            cursor: pointer;
            outline: none;
        }
    </style>

    
</head>

<body>
    <h1>Blog</h1>
    <div id="main">
        <button class="openbtn" onclick="openNav()">&#9776; Sidebar</button>
    </div>
    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <button class="dropdown-btn">Categories
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            {% for category in categories %}
            <div>
                <h1><a href="{{category.slug}}">{{ category.name }}</a></h1>
            </div>
            {% endfor %}
        </div>

        <button class="dropdown-btn">Tags
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            {% for tag in tags %}
            <div>
                <h1><a href="{{tag.slug}}">{{ tag.name }}</a></h1>
            </div>
            {% endfor %}
        </div>
    </div>






    
    
    {% for article in articles %}
    <div class = "container">
      <div class = "col-md-6">
        <br>
        <p>{{article.title|upper}}</p>
        <p>{{article.body|truncatewords:20}}</p>
        <button type="button" class="btn btn-primary">
        <a href="{% url 'article_detail' pk=article.pk %}" class="btn btn-primary">Article Detail Page</a>
        </button>
        <hr>
      </div>
    </div>
    {% endfor %}
    <div class = "container">
      <div class = "col-md-6">
          <ul class="pagination">
            <li class="page-item">  <!-- Jump to Previous Page -->
              {% if article.has_previous %}
                 <li class="page-item"><a class="page-link" href="?page={{ article.previous_page_number }}">
                 <span aria-hidden="true">Previous</span></a>
              {% else %}
                  <li class="page-item disabled"><a>Previous</a>
              {% endif %}
            </li>
             {% for page in article.paginator.page_range %}
                {% if page == article.number %}
                <li class="page-item active"><a class="page-link" href="?page={{page}}">{{page}}</a>
                {% else %}
                <li class="page-item"><a class="page-link" href="?page={{page}}">{{page}}</a>
                {% endif %}
            {% endfor %}
            <li class="page-item">  <!-- Jump to Next Page -->
              {% if article.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ article.next_page_number }}">Next</a></li>
              {% else %}
                  <li class="page-item disabled"><a>Next</a>
              {% endif %}
            </li>
          </ul>
        </nav>
      </div>
    </div>
    































   

    <script>
        function openNav() {
            document.getElementById("mySidebar").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
        }

        function closeNav() {
            document.getElementById("mySidebar").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
        }

        var dropdown = document.getElementsByClassName("dropdown-btn");

        var i;
        for (i = 0; i < dropdown.length; i++) {
            dropdown[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var dropdownContent = this.nextElementSibling;
                if (dropdownContent.style.display === "block") {
                    dropdownContent.style.display = "none";
                } else {
                    dropdownContent.style.display = "block";
                }
            });
        }
    </script>

</body>

</html>