<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
   
</head>

<body>
    <div>
        <h1>Tag</h1>
    </div>
        {% for tags in articles %}
        <div class = "container">
          <div class = "col-md-6">
            <br>
            <p>{{tags.title|upper}}</p>
            <p>{{tags.body|truncatewords:20}}</p>
            <button type="button" class="btn btn-primary">
            <a href="{% url 'article_detail' pk=tags.pk %}" class="btn btn-primary">Article Detail Page</a>
            </button>
            <hr>
          </div>
        </div>
        {% endfor %}
        <div class = "container">
          <div class = "col-md-6">
              <ul class="pagination">
                <li class="page-item">  <!-- Jump to Previous Page -->
                  {% if tags.has_previous %}
                     <li class="page-item"><a class="page-link" href="?page={{ tags.previous_page_number }}">
                     <span aria-hidden="true">Previous</span></a>
                  {% else %}
                      <li class="page-item disabled"><a>Previous</a>
                  {% endif %}
                </li>
                 {% for page in tags.paginator.page_range %}
                    {% if page == tags.number %}
                    <li class="page-item active"><a class="page-link" href="?page={{page}}">{{page}}</a>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{page}}">{{page}}</a>
                    {% endif %}
                {% endfor %}
                <li class="page-item">  <!-- Jump to Next Page -->
                  {% if tags.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ tags.next_page_number }}">Next</a></li>
                  {% else %}
                      <li class="page-item disabled"><a>Next</a>
                  {% endif %}
                </li>
              </ul>
            </nav>
          </div>
        </div>

</body>